// // переменная
// $color-button: #F28B64
// // миксин, нужен если есть много повторяющихся настроек для блока, вписывается внутрь блока при помощи @include mixin-name
// @mixin box
//     color: $color-button
//     background-color: red

// .wrapper
//     width: 1024px

// .box
//     @include box
*
    box-sizing: border-box


@import "reset/resets.scss"
@import "reset/normalizez.scss"
@import "blocks/header.sass"
@import "blocks/_welcome-box.sass"
@import "blocks/_our-range.sass"

// переменная
$font-family: "Geologica", sans-serif

main
    overflow: hidden
body
    // overflow: hidden
    font-family: $font-family
.container
    width: 100%
    margin: 0 auto
    max-width: 1200px
.button
    border: 0
    border-radius: 100px
    padding: 7px 34px
    width: 197px
    height: 40px
    background: #6abc23
    font-family: $font-family
    font-weight: 700
    font-size: 14px
    text-align: right
    color: #fff
.title-block
    font-family: $font-family
    font-weight: 700
    font-size: 24px
    color: #292929
