$font-family: "Geologica", sans-serif

.buy-in-bulk
    margin-bottom: 80px
    &__container
        overflow: hidden
        position: relative
        border-radius: 40px
        height: 545px
        background: linear-gradient(139deg, #be853c 0%, #7d4b1a 100%)
    &__text-banner
        text-align: left
    &__img-nut

.text-banner
    &__title
        position: relative
        z-index: 2
        font-family: $font-family
        font-weight: 700
        font-size: 40px
        color: #fff
        margin: 50px 0px 30px 60px
    &__text-range
        position: relative
        z-index: 3
        display: flex
        margin-left: 60px
        margin-bottom: 60px

.text-range
    &__right
        margin-right: 60px
    &__left
    &__item
        font-family: $font-family
        font-weight: 300
        font-size: 16px
        color: #fff
        margin-bottom: 20px
    &__item:last-child
        margin-bottom: 0

.text-banner
    &__button
        position: relative
        z-index: 1
        margin-left: 60px

.button
    &__find-out-the-price

.img-nut
    &__item1
        position: absolute
        bottom: -2px
        right: 35%
    &__item2
        position: absolute
        bottom: -2px
        right: 90px

    &__item3
        position: absolute
        bottom: -2px
        right: 0px

@media ( max-width:1199px  )
    .img-nut
        &__item1
            right: 120px
        &__item2
            right: -110px
        &__item3
            right: -100px

@media ( max-width:991px  )
    .img-nut
        &__item1
            bottom: -160px
            right: 70px
        &__item2
            bottom: -160px
            right: -170px

        &__item3
            bottom: -160px
            right: -150px

@media ( max-width:768px  )
    .buy-in-bulk
        &__container
            border-radius: 30px
            width: 440px
            height: 640px
    .text-banner
        &__title
            position: relative
            margin-left: 20px
        &__text-range
            margin-left: 20px
            
@media ( max-width:480px  )
    .buy-in-bulk
        &__container
            border-radius: 30px
            max-width: 100% 
            height: 750px
    .text-banner
        &__title
            text-align: center
            font-size: 24px
        &__text-range
            justify-content: center
            align-items: center
    .text-banner
        &__button
            margin: 0
            text-align: center

@media ( max-width:320px  )

