$font-family: "Geologica", sans-serif

.footer
    background-color: #292929
    margin-top: -2px
    &__container
        padding: 60px 0
        display: flex
        justify-content: space-between
    &__img
    &__contact
    &__opening-times
        display: flex
        flex-direction: column
        justify-content: space-between
    &__legal-entity
        display: flex
        flex-direction: column
        justify-content: space-between
        

.contact
    &__title-footer
    &__address-footer
    &__email-footer
    &__number-footer
    &__icons-footer
        display: flex
        margin-bottom: 40px
    &__call-back

.icons-footer
    &__tg
        width: 24px
        height: 24px
        margin-right: 5px
    &__viber
        width: 24px
        height: 24px

.footer-title
    font-family: $font-family
    font-weight: 700
    font-size: 20px
    color: #fff
    margin-bottom: 20px

.footer-p
    font-family: $font-family
    font-weight: 400
    font-size: 14px
    color: #fff
    margin-bottom: 10px

.opening-times
    &__title-footer
    &__times
    &__privacy-policy
        a
            color: #c2c2c2
    &__text-block


.legal-entity
    &__title-footer
    &__legal
    &__id-company
        a
            color: #c2c2c2
    &__text-block
        flex: 1 1 auto

.href
    font-family: $font-family
    font-weight: 400
    font-size: 12px
    text-decoration: underline
    text-decoration-skip-ink: none
    