$font-family: "Geologica", sans-serif

.header
    // margin: 0 auto
    margin-bottom: 20px
    &__container
    &__info
        display: flex
        margin: 15px 0
        justify-content: space-between
    &__nav
    &__hr
        border: none
        border-top: 1px solid #a5a5a5
        max-width: 100%
        margin: 0
        margin-bottom: 20px
.info
    &__img
    &__contact
        display: flex
        justify-content: center
        align-items: center
    &__buttons
        display: flex
        align-items: center
        justify-content: center

.contact
    &__icons
        display: flex
    &__number
        font-weight: 700
        font-size: 14px
        text-align: right
        color: #292929

.icons
    &__tg
        margin-right: 10px
    &__viber
        margin-right: 20px

.buttons
    &__call-back
        margin-right: 10px
    &__write-us
        border: 1px solid #6e3708
        border-radius: 100px
        width: 168px
        height: 40px
        font-family: $font-family
        font-weight: 700
        font-size: 14px
        color: #292929

.nav   
    &__menu
        display: flex
        justify-content: space-between

.menu
    &__item
        font-family: $font-family
        font-weight: 300
        font-size: 14px
        color: #292929
