$font-family: "Geologica", sans-serif

.interaction-stage
    margin-bottom: 100px
    &__container

.interaction-stage
    &__title
        margin-bottom: 40px

.interaction-stage
    &__step-by-step-block
        position: relative
        display: flex
        justify-content: space-between
    &__hr
        position: absolute
        z-index: 4
        top: 40px
        border: none
        border-top: 1px dashed #6e3708
        width: 1170px
        margin: 0

.step-by-step-block
    &__stage-box

.stage-box
    &__action-number
        position: relative
        z-index: 5
        display: flex
        align-items: center
        justify-content: center
        background-color: #e9e7e7
        border-radius: 100px
        padding: 30px 43px
        width: 80px
        height: 80px
        margin-bottom: 20px
        &_last
            position: relative
            z-index: 5
            display: flex
            align-items: center
            justify-content: center
            background-color: #6abc23
            border-radius: 100px
            padding: 30px 43px
            width: 80px
            height: 80px
            margin-bottom: 20px
    &__text-stage
        text-align: left

.action-number
    &__action
        font-family: $font-family
        font-weight: 400
        font-size: 24px
        color: #292929
        &_last
            font-family: $font-family
            font-weight: 400
            font-size: 24px
            color: #fff

.text-stage
    &__text
        font-family: $font-family
        font-weight: 500
        font-size: 16px
        color: #292929
