$font-family: "Geologica", sans-serif

.our-clients
    margin-bottom: 80px
    &__container
    &__title-and-slider-icon
        display: flex
        justify-content: space-between
        margin-bottom: 30px

.title-and-slider-icon
    &__title
    &__slider-icon

.slider-icon
    &__left-arrow
        margin-right: 25px
    &__right-arrow

.our-clients
    &__client-block
        display: flex

.client-block
    &__client-box
        background: #6abc23
        border-radius: 20px
        padding: 20px
        width: 387px
        height: 300px
        margin-right: 20px

.client-box
    &__imgs
        position: relative
        margin-bottom: 10px
    &__title
        p
            font-family: $font-family
            font-weight: 500
            font-size: 16px
            color: #fff
.imgs
    &__main-img
        border-radius: 10px
        width: 347px
        height: 210px
    &__second-img
        position: absolute
        top: 20px
        left: 20px
        display: flex
        justify-content: center
        align-items: center
        border-radius: 100px
        width: 60px
        height: 60px
        background: #fff
        img
            width: 36px
            height: 36px
