$font-family: "Geologica", sans-serif

.work-with-us
    margin-bottom: 100px
    &__container
    &__title
        margin-bottom: 30px
    &__advantages-box
        display: flex
        justify-content: space-around

.title-block

.advantages-box
    &__blocks
        width: 285px
        height: 148px

.blocks
    &__img
        margin-bottom: 20px
    &__title
        font-family: $font-family
        font-weight: 500
        font-size: 16px
        color: #292929
        margin-bottom: 10px
    &__text
        font-family: $font-family
        font-weight: 300
        font-size: 14px
        color: #292929

@media ( max-width:1199px  )

@media ( max-width:991px  )

@media ( max-width:768px  )
    .work-with-us
        &__advantages-box
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(2, 1fr)
            grid-column-gap: 16px
            grid-row-gap: 50px
    .advantages-box
        &__blocks
            width: 212px
            height: 178px
@media ( max-width:480px  )
    .advantages-box
        &__blocks
            width: 140px
            height: 180px
@media ( max-width:320px)
    .advantages-box
        &__blocks
            width: 50px
            height: 230px
